<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Webcam App</title>
</head>
<body>
    <h1>웹캠 앱 테스트</h1>
    <a href="{% url 'webcam_with_pose' %}" target="_blank">Start Webcam</a>

    <div id="webcamContainer" style="display: none;">
        <video id="webcam" autoplay></video>
    </div>

    <script>
        document.getElementById('startWebcam').addEventListener('click', function () {
            // 버튼 클릭 시 웹캠 표시
            document.getElementById('webcamContainer').style.display = 'block';

            // 비디오 엘리먼트와 웹캠 스트림 연결
            navigator.mediaDevices.getUserMedia({ video: true })
                .then(function (stream) {
                    document.getElementById('webcam').srcObject = stream;
                })
                .catch(function (error) {
                    console.error('Error accessing webcam:', error);
                });
        });
    </script>
</body>
</html>